// GENERAL PROJECT STYLES

body {
    .fontstyle ("Open-Sans" sans-serif, normal);   
    font-size: @fontsize;
    // overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: @main_color;
    // background-color: black;
}
a:hover,
a:active,
a {
    text-decoration: none;
    color: @main_color;
}

p {
    margin: 0;
}

select {
    color: @main_color; 
}

select option{
    background-color: rgba(0, 0, 0, 0.75);
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    background: url(../../../images/dist/image1.jpg) no-repeat;
    background-size: cover;
    padding: 0 120px;

}

.about {
    position: relative;
    background-image: url(../../../images/dist/image2.jpg);
    background-size: cover;
    padding: 0 120px;
    z-index: 10;
// url(../../../images/dist/slide1.jpg), url(../../../images/dist/slide2.jpg), url(../../../images/dist/slide3.jpg)
}


.features {
    background: url(../../../images/dist/image3.jpg) no-repeat;
    background-size: cover;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 870px;
}
