.description {
    .fontsize (18px, 400, 22px);
}

.description span {
    text-decoration: underline @accent;
}

.description--align {
    text-align: justify;
}

// about

.description--about {
    margin-left: 189px;
    max-width: 365px;
}   

// feauters

.description--features {
    .fontstyle ("Open-Sans" sans-serif, normal);
	.fontsize(18px, 400, 22px);
    color: @main_color; 
}

.description--feature2 {
    display: none;
}

.description--feature3 {
    display: none;
}

// quotes


