.description {
	.fontsize (18px, 400, 22px);
}

.description span {
	// FIXME: не понял почему это тут а не в about
	// или кроме about это еще где то используется?
	text-decoration: underline @accent;
}

.description--align {
	text-align: justify;
}

// about

.description--about {
	margin-left: 189px;
	max-width: 365px;
}

// FIXME: вот тут по блокам зря ты разбил
/* FIXME: если есть элемент текста то да его лучше вынести отдельно, если этот элемент как то изменяется в зависимости от того места где он находится то может не стоит его выносить из компонента который его использует? */

// feauters

.description--feature {
	color: @main_color;
	.fontstyle ("Open-Sans" sans-serif, normal);;
	letter-spacing: normal;
}

// quotes

.description--quotes {
	max-width: 435px;
}

.description--opacity {
	opacity: 0.5;
}

// subscribe

.description__subscribe {
	max-width: 645px;
}
