.features__lists {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.features__list {
    position: relative;
    .fontstyle("Bebas-Neue" sans-serif, normal);
    .fontsize (36px, 700, 36px);
    letter-spacing: 2px;
    color: @accent;
    max-width: 366px;
    margin-right: 116px;
    gap: 38px;

    &__list2 {
        display: none;
    }

    &__list3 {
        display: none;
    }
}

.features__list p {
    .fontstyle ("Open-Sans" sans-serif, normal);
	.fontsize(18px, 400, 22px);
    color: @main_color;

}


