.title {
	display: flex;
	flex-direction: column;
	.fontstyle("Bebas-Neue" sans-serif, normal);
	gap: 9px;
}
.title div {
	.fontsize (24px, 700, 24px);
	letter-spacing: 2px;
}
.title h2 {
	.fontsize (80px, 700, 80px);
	letter-spacing: 3px;
}

.title__about {
	padding-top: 255px;
	margin-bottom: 72px;
	max-width: 410px;
}

.title__features {
	padding-top: 169px;
	margin-bottom: 70px;
	width: 411px;
	margin-right: 113px;
}

.requirements .title__requirements {
	padding: 145px 0 148px;
	justify-content: center;
	align-items: center;
}
