// USER VARIABLES SECTION
@main_color: #ffffff;
@accent: orange; // Accent Color
@fontsize: 16px; // Body Font Size

// IMPORT SECTION

@import (less) "node_modules/bootstrap/dist/css/bootstrap-reboot.css"; // Bootstrap Reboot collection

// FONTS LOAD SECTION

.font(@fname, @fstyle, @fweight, @furl) {
	@font-face {
		font-family: @fname;
		font-style: @fstyle;
		font-weight: @fweight;
		src: url(@furl) format("woff2");
	}
}

.font("Open-Sans", normal, 400, "../fonts/open-sans-v29-latin-regular.woff2");
.font("Open-Sans", bold, 700, "../fonts/open-sans-v29-latin-700");
.font("Bebas-Neue", normal, 700, "../fonts/BebasNeue-Regular.woff2");

